# Hidden files
.*
!.gitignore
!.travis.yml

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/docs/build
/src/edna2/lib/autocryst/ext/build

# Others
venv/
testdata/
